:root {
  --c-bg: #fff;
  --c-primary: rgba(79, 192, 141, 1);
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
}
html {
  background-color: var(--c-bg);
}
html.dark {
  color-scheme: dark;
  --c-bg: #050505;
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222;
}

/* scrollbar */
* {
  scrollbar-color: var(--c-scrollbar) var(--c-bg);
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}

/* page transition */
.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

/* components */
.text-link {
  position: relative;
}

.text-link:hover::after {
  top: 0%;
}
.text-link::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 66%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
  background-color: var(--c-primary);
}
